[submodule "src/blis"]
	path = src/blis
	url = https://github.com/flame/blis
	branch = mvmc
[submodule "src/pfapack"]
	path = src/pfapack
	url = https://github.com/xrq-phys/pfapack
[submodule "src/StdFace/submodule"]
	path = src/StdFace
	url = https://github.com/issp-center-dev/StdFace
