*.out
makefile
Makefile
make.sys
make-ext.sys
*backup*
*cisajs*.dat
*Time*
*.a
*.aux
*.bbl
*.blg
*.dSYM/
*.dvi
*.log
*.o
*.optrpt
*.synctex.gz
*.toc
*~
*build*
#*
html/
GPATH
GRTAGS
GTAGS
.idea
.DS_Store
src/blis-install
doc/userguide_en.pdf
doc/userguide_jp.pdf
doc/jp/userguide_jp.out
doc/jp/userguide_jp.pdf
doc/jp/userguide_jp.synctex
doc/en/userguide_en.out
doc/en/userguide_en.pdf
doc/en/userguide_en.synctex
src/ComplexUHF/UHF
tool/corplot
*.mod
tool/fourier
tool/greenr2k
doc/fourier/ja/_build/
doc/fourier/en/_build/
*.bak
cmake-build-debug
latex/
dist/
