namelist.def
modpara.def
locspn.def
trans.def
coulombintra.def
coulombinter.def
hund.def
pairhop.def
exchange.def
gutzwilleridx.def
jastrowidx.def
doublonholon2siteidx.def
doublonholon4siteidx.def
orbitalidx.def
qptransidx.def
greenone.def
greentwo.def
greentwodc.def
interall.def
lattice.gp
zvo_HitachiTimer.dat
zvo_cfg_001.dat
zvo_time_001.dat
zvo_var_001.dat
zvo_SRinfo.dat
