namelist.def
modpara.def
locspn.def
trans.def
coulombintra.def
coulombinter.def
hund.def
pairhop.def
exchange.def
gutzwilleridx.def
jastrowidx.def
doublonholon2siteidx.def
doublonholon4siteidx.def
orbitalidx.def
orbitalidxpara.def
qptransidx.def
greenone.def
greentwo.def
greentwodc.def
interall.def
lattice.gp
zvo_HitachiTimer.dat
zvo_cfg_001.dat
zvo_time_001.dat
zvo_var_???.dat
zvo_SRinfo.dat
zvo_out_???.dat
zqp_opt.dat
geometry.dat
zqp_gutzwiller_opt.dat
zqp_jastrow_opt.dat
zqp_orbital_opt.dat
zqp_orbitalAntiParallel_opt.dat
zqp_orbitalParallel_opt.dat
correlation.dat
correlation.gp
kpoints.dat
zvo_corr.dat
