name: CI

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 1,15 * *' # JST 9:00 on 1st and 15th every month

jobs:
  ctest:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest"]
        ompsize: [1, 4]
        exclude:
          - os: "macos-latest"
            ompsize: 4 # OMP on macOS is too slow
      fail-fast: false
    env:
      OMP_NUM_THREADS: ${{ matrix.ompsize }}

    steps:
      - uses: actions/checkout@v4

      - name: apt
        if: ${{ runner.os == 'Linux' }}
        run: |
          sudo apt update
          sudo apt install liblapack-dev openmpi-bin libopenmpi-dev libscalapack-openmpi-dev

      - name: brew
        if: ${{ runner.os == 'macOS' }}
        run: |
          brew install openmpi scalapack libomp blis

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: pip
        run: |
          python3 -m pip install numpy

      - name: make workspace
        run: cmake -E make_directory ${{runner.workspace}}/build

      - name: cmake
        working-directory: ${{runner.workspace}}/build
        shell: bash
        run: |
          if [ ${{ runner.os }} = "macOS" ] ; then
            # CONFIG=apple requires gfortran but macOS runner has not, but gfortran-11, 12, ...
            cmake -DCONFIG=apple -DCMAKE_VERBOSE_MAKEFILE=ON -DCMAKE_Fortran_COMPILER=gfortran-14 $GITHUB_WORKSPACE
          else
            cmake -DCMAKE_VERBOSE_MAKEFILE=ON $GITHUB_WORKSPACE
          fi

      - name: build
        working-directory: ${{runner.workspace}}/build
        shell: bash
        run: cmake --build ./ -j4

      - name: ctest
        working-directory: ${{runner.workspace}}/build
        shell: bash
        run: ctest -V
